h1 { text-align: center}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black;
    list-style-type: none;   
    margin: 0;          
    padding: 0;  
}
nav ul li {
    flex: 0 0 20%;
    text-align: center;
}
nav ul li a {
    color: black;
    display: block;
    padding: 0;
}
h3{padding-left: 10px; width: 12ch; background-color: white;}
p{ width: 100%; background-color:white;}
footer{
		text-align: center; 
		background-color:white;}
body{background-color: #B7E4C7;}
.container {
    display: flex;         
    align-items: flex-start;  
    gap: 50px;                
    max-width: 100vh;
    margin: 0;
  }

  .container img {
    max-width: 50%;           
    height: 100%;  
	padding-top: 15px;
  }

  .text {
    flex: 1;
	width: 50%;
  }
